 @media (max-width: 400px) and (orientation: portrait) { 
    .sb-close {text-align: center; position:absolute; right:1px;display:block; border:2px solid #fff; width:1.300em; height:1.300em; font-family:'ArialRoundedMTBold',Arial; font-size:0.799em; line-height:0.941em; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:0.875em; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }		   
 }
 
 @media   (orientation: landscape) { 
    .sb-close {text-align: center; position:absolute; right:5px;   display:block; border:2px solid #fff; width:1.350em; height:1.350em; font-family:'ArialRoundedMTBold',Arial; font-size:0.813em; line-height:0.938em; text-align:center; color:#fff; background:#070707; text-decoration:none; text-shadow:none; border-radius:0.875em; box-shadow:0 2px 3px rgba(0,0,0,0.4); -webkit-font-smoothing:subpixel-antialiased; }		   
 }
 
 #GeenappBanner {
	 position: fixed; left: 0;   width: 100%; z-index: 100;background: #ffffff url('../img/dark_background_stripes.png');
 }
 
  
 
 
 